**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('/content/Data (1).csv')

**Step 2: Importing dataset**

In [ ]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

**Step 3: Handling the missing data**

In [ ]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
dataset['Age']=dataset['Age'].fillna(0)
dataset['Salary']=dataset['Salary'].fillna(0)

In [ ]:
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [ ]:
dataset['Purchased']=dataset['Purchased'].map({'Yes':1,'No':0})

**Step 5: Creating a dummy variable**

In [ ]:
dataset=pd.get_dummies(dataset,columns=['Country'])

In [ ]:
dataset.head()

    Age   Salary  Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0
3  38.0  61000.0          0               0                0              1
4  40.0      0.0          1               0                1              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
X = dataset[['Age','Salary','Country_France','Country_Germany','Country_Spain']].values 
y = dataset['Purchased'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0)

**Step 7: Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler() 
scaler.fit(X_train,y_train) 
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)